
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --blue-background: #0ea5e9;
  --grey-background: #faf5ff;
}

body{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: Roboto ,Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

div.sidebar-wrapper{
  background-color: var(--blue-background);
  grid-row: span 2;
  min-width: 250px;
  color:white;
  padding: 1rem;
}

div.sidebar{
  display: grid;
  gap: 3rem;
}

div.logo-wrapper{
  display: flex;
  align-items: center;
}

p#logo-text{
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 0.7rem;
}

.logo-wrapper img.logo{
  height: 50px;
  width: 50px;
}

/* Make all white logos correct color */
img.white{
  filter: invert(100%);
}

img.icon{
  width: 1.4rem;
}

li.nav-item a{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.7 rem;
  display: flex;
  gap: 1.6rem;
  padding: 0.8rem;
  max-width: 200px;
}

button{
  width: 80px;
}

p.nav-item{
  display: inline-block;
}
