
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --blue-background: #0ea5e9;
  --grey-background: #e2e8f0;
}

body{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: Roboto ,Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

div.sidebar-wrapper{
  background-color: var(--blue-background);
  grid-row: span 2;
  min-width: 250px;
  color:white;
  padding: 1rem;
}

div.sidebar{
  display: grid;
  gap: 3rem;
}

div.logo-wrapper{
  display: flex;
  align-items: center;
}

p#logo-text{
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 0.7rem;
}

.logo-wrapper img.logo{
  height: 50px;
  width: 50px;
}

/* Make all white logos correct color */
img.white{
  filter: invert(100%);
}

img.icon{
  width: 1.4rem;
}

li.nav-item a{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.7 rem;
  display: flex;
  gap: 1.6rem;
  padding: 0.8rem;
  max-width: 200px;
}

p.nav-item{
  display: inline-block;
}


/* header styling */

header{
  padding: 16px 70px 16px 40px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.342);
  clip-path: inset(0px 0px -10px 0);
}

div.search-bar-wrapper{
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  gap: 16px;
}

form{
  display: flex;
  align-items: center;
  gap: 16px;
}

button.search-bar{
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
  border: none;
}

button:hover{
  box-shadow: 2px 2px 3px #68686850;
}

input.search-bar{
  height: 2rem;
  border-radius: 1.75rem;
  padding : 0 1rem;
  font-size: 1rem;
  background-color: var(--grey-background);
  border: none;
  max-width: 500px;
  flex: 1;
}

input:focus {
  outline: 0;
  box-shadow: 2px 2px 3px #68686850;
}

:focus-visible{
  appearance: none;
}

a.user-icon-small img{
  height: 60px;
  width: 60px;
}

a.user-name-small{
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

div.info-buttons-wrapper{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

div.user-info{
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
  gap: 1rem;
}

img.user-icon-large{
  width: 90px;
}

p#greeting,
p.user-name{
  font-weight: bold;
  margin: 5px;
}

p#greeting{
  align-self: baseline;
}

p.user-name{
  font-size: 2rem;
}

div.header-buttons{
  display: flex;
  gap: 2rem;
}

button.header-buttons{
  background-color: var(--blue-background);
  color :white;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5rem;
  width: 6rem;
  border-radius: 2rem;
  border: none
}

